/* Global styles */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: black;
    background-color: #191919;
}

div {
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 30px;
    margin-bottom: 30px;
    text-decoration: underline;
}

h2 {
    font-size: 25px;
}

p {
    font-size: 15px;
}

/* Day and night switch */
.day-night {
    width: 100%;
    height: 40px;
    position: relative;
}

#switch{
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: 75px;
    background-color: #191919;
    position: absolute;
    right: 0;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

#switch:hover {
    transform: scale(1.1);
}

#switch:after{
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: whitesmoke;
    top: 5px;
    left: 7px;
    border-radius: 50%;
}

.day{
    background-color: whitesmoke;
    color: #191919;
}
.day #switch{
    background-color: whitesmoke
}
.day #switch:after{
    background-color: transparent;
    box-shadow: 10px 10px #15181f;
    top: -4px;
    left: 30px;
}

.day .game-wrapper {
    background-color: #191919;
    color: whitesmoke;
}

.day .fa-linkedin {
    color: whitesmoke;
}

.day .fa-square-github {
    color: whitesmoke;
}

.day .game-buttons button {
    background-color: whitesmoke;
    color: #191919;
}

/* Game Styles */
.game-wrapper {
    align-items: center;
    width: 30%;
    height: 500px;
    background-color: whitesmoke;
    margin: 130px auto;
    padding: 20px;
    border-radius: 3%;
    box-shadow: 5px 5px #6d6d6d;
}

.game-wrapper:hover {
    transform: scale(1.01);
}

.game-area {
    margin-top: 5%;
}

.game-buttons {
    width: 60%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.game-buttons button {
    background-color: black;
    color: antiquewhite;
    border: none;
    font-size: 20px;
    height: 70px;
    width: 25%;
    border-radius: 20%;
    cursor: pointer;
}

button {
    box-shadow: 5px 5px #6d6d6d;
}

button:hover {
    transform: scale(1.2);
}

/* Footer */
.footer {
    align-items: center;
    width: 100%;
}

.socials {
    text-align: center;
}

.fa-linkedin, .fa-square-github {
    margin: 30px;
    color: #191919;
    font-size: 30px;
}

.fa-linkedin:hover {
    transform: scale(1.2);
}

.fa-square-github:hover {
    transform: scale(1.2);
}