* {
    margin: 0px;
    padding: 0px;
}

body {
    color: black;
    background-color: antiquewhite;
}

div {
    align-items: center;
    text-align: center;
}

.game-buttons {
    width: 40%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
}

.game-buttons button {
    background-color: black;
    color: antiquewhite;
    border: none;
    font-size: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}